.searchLayout-container {
  background: #FB849D;
  height: 20rem;
  text-align: center;
  font-family: 'Segoe UI';
}

.searchLayout-container p {
  color: #ffffff;
  font-size: 45px;
}

.searchLayout-container .search {
  width: 88% !important;
}

.searchLayout-container .search div {
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.searchLayout-container .search div:hover, .search div:focus {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.searchLayout-container button {
  font-size: 0.9rem !important;
  padding: 15px !important;
  border-radius: 7px !important;
  color: #40514E !important;
}

.searchLayout-container .buttonSearch {
  margin-left: 10px !important;
  background: #F9E0E5 !important;
}

.searchLayout-container .buttonStores {
  background: #F3F3F3 !important;
  margin-top: 2rem;
  width: 10rem;
}

.mt-20 {
  margin-top: 20px;
}

div .storeCategories {
  padding: 0 0 0 30px;
}

.storeCategories .title {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Segoe UI';
  color: #332927;
}

.storeCategories .subtitle {
  font-size: 16px;
  font-family: 'Segoe UI semibold';
  color: #706967;
  text-transform: uppercase;
  margin: 0;
}

.item-categorie {
  margin-right: 30px;
}

.item-categorie p {
  font-size: 15px;
  font-family: 'Segoe UI';
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.item-categorie .image-categorie {
  height: 220px;
  width: 220px;
}

.item-categorie .image-categorie img {
  width: 100%;
  height: auto;
  transition: 0.2s;
  cursor: pointer;
}

.item-categorie .image-categorie img:hover {
  transform: scale(1.05);
}

@supports(object-fit: cover) {
  .item-categorie .image-categorie img {
    height: 100%;
      object-fit: cover;
      object-position: center center;
  }
}

.image-categorie, .image-categorie img {
  border-radius: 8px !important;
}
