.navbar-desktop {
  background: #ffffff;
  color: #000000;
  font-family: 'Segoe UI';
}

.navbar-desktop h2 {
  margin-right: 20px;
  text-decoration: none;
}

.navbar-desktop .prueba {
  flex-grow: 1;
}

.userNavigation {
  margin-right: 20px !important;
  width: 200px;
  white-space: nowrap;
}

.userNavigation .address {
  padding: 13px 0 13px 0;
  text-transform: capitalize;
}

.navbar-desktop .item {
  margin-right: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Segoe UI';
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
  color: #000000;
}
.navbar-desktop .item:hover {
  background: #F3F3F3 ;
}