.button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  bottom: 0;
  right: 0;
  transform: translate(-25px, -15px);
  padding: 2px;
  position: fixed;
  box-shadow: -4px 16px 22px 0px rgba(0,0,0,0.15) !important;
  cursor: pointer;
  transition: 0.5s;
  z-index: 10000;
}

.alert {
  background: #F6FC5E !important;
}

.alert .shoppingCart span {
  border: 1px solid #F6FC5E;
}

.alert .shoppingCart svg, .alert .price {
  color: #000000 !important;
}

.danger {
  background: #EC4C4C !important;
}

.danger .shoppingCart span {
  border: 1px solid #EC4C4C;
}

.correct {
  background: #4EEA5D !important;
}

.correct .shoppingCart span {
  border: 1px solid #4EEA5D;
}

.danger .shoppingCart svg, .correct .shoppingCart svg, .danger .price {
  color: #fff !important;
}

.correct .shoppingCart span, .danger .shoppingCart span, .alert .shoppingCart span {
  background-color: #ffffff;
}

.desktop-shopping-cart .shoppingCart {
  position: absolute;
  left: 20px;
  top: 20px;
}

.button:hover {
  width: 150px;
  border-radius: 60px;
}

.button:hover > .price{
  opacity: 1;
}

.desktop-shopping-cart .price {
  transition: 0.4s;
  opacity: 0;
  position: absolute;
  font-size: 15px;
  font-weight: bolder;
  font-family: Segoe UI;
  color: #ffffff;
  right: 0;
  transform: translate(-20px, 18px);
}

.mobile-shopping-cart {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  height: 80px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 16px 22px 0px rgba(0,0,0,0.75);
}

.mobile-shopping-cart button {
  padding: 15px;
  width: 290px;
}

.mobile-shopping-cart .shoppingCart {
  position: absolute;
  top: unset;
  left: 10px;
}

.mobile-shopping-cart .danger, .mobile-shopping-cart .correct {
  color: #fff !important;
}

.mobile-shopping-cart .danger .shoppingCart span,
.mobile-shopping-cart .correct .shoppingCart span {
  color: #000000;
}

.mobile-shopping-cart .price {
  position: absolute;
  right: 0;
  transform: translateX(-10px);
  font-weight: 300;
}