.container-lateral-menu {
  background: #FB849D;
  width: 257px;
  padding: 15px;
  font-family: 'Segoe UI';
  min-height: 87vh;
  text-transform: capitalize;
  position: relative;
}

.container-lateral-menu .container-menu {
  position: fixed;
  background: #ffffff;
  width: 16.2vw;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  padding: 10px 0 5rem 0;
}

.container-lateral-menu .container-menu .item {
  padding: 14px 16px 14px 25px;
  color: #909695;
  transition: 0.3s;
  cursor: pointer;
}

.container-lateral-menu .container-menu .item .icon {
  position: absolute !important;
  right: 0;
  transform: translateX(-15px) scale(0.7);
  color: #FB849D;
}

.container-lateral-menu .container-menu .item:hover {
  background: #F5F7FA;
  color: black;
}

.filter-item {
  border: 1px solid #E1D4D4;
  padding: 10px;
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 9px;
  cursor: pointer;
  color: #40514E;
  font-family: 'Segoe UI semibold';
  transition: 0.4s;
}

.filter-item:hover, .filter-item-selected {
  background: #F9E0E5;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.search-container {
  background: #f9f8f8;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.stores-container {
  background: #ffffff;
  min-height: 70vh;
  margin-top: 15px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  font-family: 'Segoe UI';
}

.search-container h1 {
  margin: 0;
  font-weight: bold;
  font-family: 'Segoe UI semibold';
}

.search-container h1 span {
  font-size: 18px;
  margin-left: 10px;
  color: #706967;
}

.search-container .search-button {
  margin-top: 20px;
  width: 40%;
  background: #ffffff;
}

.stores-container .pagination-container {
  transform: translateY(-4px);
}

.stores-container .icon {
  margin-right: 10px;
  cursor: pointer;
}

.stores-container .icon-selected {
  color: #FB849D;
}

.store-item-container {
  margin: 0 30px 30px 0;
  cursor: pointer;
  transition: 0.4s;
}

.store-item-container .name,
.store-item-container .address,
.store-item-container .sector {
  text-transform: capitalize;
}

.store-item-container .name {
  font-size: 18px;
  font-weight: 500;
}

.store-item-container .sector {
  font-size: 11px;
  color: #6d6464;
  margin: 2px 0 3px 0;
}

.store-item-container .address {
  font-size: 14px;
}

.store-item-container:hover {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(251,132,157,1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(251,132,157,1);
  box-shadow: 0px 2px 0px 0px rgba(251,132,157,1);
}

.stores-loading-data {
  position: relative;
  left: 45%;
  color: #FB849D !important;
}

.mt-20 {
  margin-top: 20px;
}